{% extends "base.html" %}

{% block title %}Single table{% endblock %}

{% block main %}
    <h1>{{file_name}}</h1>
    <a  href="{% url 'tables' %}" name='tables' role="button">Collections</a>
    <a  href="{% url 'values_count' id %}?page={{page}}" name='values_count' role="button">Values count</a>
    <table class="table table-striped">
    {% for row in table %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }} </td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>{{ row.6 }}</td>
            <td>{{ row.7 }}</td>
            <td>{{ row.8 }}</td>
            <td>{{ row.9 }}</td>
        </tr>
    {% endfor %}
    </table>
    {% if next_page %}
        <a href="{% url 'single_table' id %}?page={{next_page}}" name='single_table' role="button">Load more data</a>
    {% endif %}
{% endblock %}
