{% extends "base.html" %}

{% block title %}Tables{% endblock %}
{% block main %}
    <h1>Collections:</h1>
    <form method="post" action="/">
        {% csrf_token %}
        <input type="submit" value="Fetch" class="btn btn-success">
    </form>
    <table class="table">
        {% for element in elements %}
            <tr>
                <td>
                    <a href="{% url 'single_table' id=element.id %}">{{ element.date_fetched }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
