{% extends "base.html" %}

{% block title %}Values count{% endblock %}

{% block main %}
    <h1>{{file_name}}</h1>
    <a href="{% url 'tables' %}" name='tables' role="button">Collections</a>
    <table class="table table-striped">
        <tr>
            {% for name, value in header_filter %}
                <td>
                    {% if value == "0" %}
                        <a href="{% url 'values_count' id %}?page={{page}}&{{links}}&{{name}}=1" class="btn btn-dark">{{ name }}</a>
                    {% else %}
                        <a href="{% url 'values_count' id %}?page={{page}}&{{links}}&{{name}}=0" class="btn btn-light">{{ name }}</a>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>

        {% for row in table %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }} </td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
                <td>{{ row.7 }}</td>
                <td>{{ row.8 }}</td>
                <td>{{ row.9 }}</td>
                <td>{{ row.10 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
